nav {
    /*background-color:  #ffd5f5;*/
    /*background-color: #c47283;*/
    background-color: #bdd8fe;
    background-image: linear-gradient(315deg, #bdd8fe 0%, #e186b4 74%);
    padding: 10px 0px;
    display: block;
    text-align: center;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 22px;
    padding: 100px;
    font-family: 'Amiri', serif;
    font-style: b;
}

ul {
    list-style-type: none;
}
li {
    display: inline;
}


a:hover{
    background-color: white; /*#f7efd8;*/
    font-weight: bolder;
}

body {
    background-color: white; /*#f7efd8;*/
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 100%;
}

h1{ 
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-size: 60px;
    animation-duration: 3s;
}

h2 {
    font-family: 'Amiri', serif;
    font-size: 30px;
    color: #e186b4;
    text-align: left;
    padding-left: 30px;
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    font-style: unset;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-family: 'Amiri', serif;
    color: #000000;
    text-align: center;
    background-color: white; /* #f8d0cb;*/
    width: 400px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}    

.prod:hover {
    transform: scale(1.2);
    transition: all 1s;

}

h4 {
    font-size: 16px;
    font-family: 'Amiri', serif;
    color: #000000;
    text-align: center;
    background-color: white; /* #f8d0cb;*/
    width: 400px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}    

.grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-row-gap: 30px;
 
}

#grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (6, 1fr);
    grid-row-gap: 40px;
}

img {
    width: 300px;
    height: 300px;
    display: block; 
    margin: auto;

}

.grids { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

#footer1 {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #bdd8fe;
    background-image: linear-gradient(315deg, #bdd8fe 0%, #e186b4 74%);
    font-style: normal;
    font-size: 15px;
}

.producto {
    text-align: center;
}

@media screen and (min-width: 768px){
    .grids {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 40px;
    }
    img {
        width: 400px;
        height: 400px;
    }
    h3 {
        font-size: 30px;
        text-align: center;
    }
    h4 {
        font-size: 25px;
        text-align: center;
    }
    }
           
    







/*body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    }

